[submodule "packages/nuxtjs-module-1"]
	path = packages/nuxtjs-module-1
	url = https://github.com/cbtpro/nuxtjs-module-1.git
[submodule "packages/nuxtjs-module-0"]
	path = packages/nuxtjs-module-0
	url = https://github.com/cbtpro/nuxtjs-module-0.git
